views/jade/exercises.jade
doctype html
html(lang="ru")
    head
        title Тестовое задание
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="HandheldFriendly" content="true")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="format-detection" content="telephone=no")
        link(href="../../client/css/main.css",  type="text/css", rel="stylesheet")
        script(src="../../client/js/dme-exercises.js")
    body
        #exercises
            h1 Задание 1
            textarea(placeholder="XML код...")
                | <applicant>
                |       <firstname>Boris</firstname>
                |       <lastname>Chumichev</lastname>
                | </applicant>
            h3 JSON:
            pre.json
            h1 Задание 2
            div#table
            h1 Задание 3
            div#bacon
            h1 Задание 4
            .thumbnail
                .thumbnail__title
            h1 Задание 5
            form
                input(type="number")
                input(type="number")
                h4.output

views/html/exercises.html
<!DOCTYPE html><html lang="ru"><head><title>Тестовое задание</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"><meta name="HandheldFriendly" content="true"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="format-detection" content="telephone=no"><link href="../../client/css/main.css" type="text/css" rel="stylesheet"><script src="../../client/js/dme-exercises.js"></script></head><body><div id="exercises"><h1>Задание 1</h1><textarea placeholder="XML код..."><applicant>
      <firstname>Boris</firstname>
      <lastname>Chumichev</lastname>
</applicant></textarea><h3>JSON:</h3><pre class="json"></pre><h1>Задание 2</h1><div id="table"></div><h1>Задание 3</h1><div id="bacon"></div><h1>Задание 4</h1><div class="thumbnail"><div class="thumbnail__title"></div></div><h1>Задание 5</h1><form><input type="number"><input type="number"><h4 class="output"></h4></form></div></body></html>
