views/html/mockup.html
<!DOCTYPE html><html lang="ru"><head><title>Тестовое задание</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"><meta name="HandheldFriendly" content="true"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="format-detection" content="telephone=no"><link href="../../client/css/main.css" type="text/css" rel="stylesheet"><script src="../../client/js/dme-test.js"></script></head><body ng-app="dmeTest"><div ng-controller="dmeNewsController" class="b-page"><div class="b-header"><div class="b-header__logo">Aura</div><div class="b-header__menu"><a href class="b-header__menu__item">Wiki</a><a href class="b-header__menu__item">Ресурсы</a><a href class="b-header__menu__item">Сообщества</a><a href class="b-header__menu__item b-header__menu__item--active">Новости</a><a href class="b-header__menu__item"> <span class="fa fa-user"></span></a><a href class="b-header__menu__item"> <span class="fa fa-search"></span></a></div></div><div class="b-sidebar b-sidebar--left"><div class="b-sidebar__subscribe">Подписаться</div><div class="b-sidebar__label">Поиск</div><div class="b-sidebar__input b-sidebar__input--search"><input type="search" ng-model="searchQuery"></div><div class="b-sidebar__label">Архив</div><div class="b-sidebar__input b-sidebar__input--calendar"><input type="text"></div><div class="b-sidebar__label">Категории</div><a href ng-repeat="category in categories" ng-click="setCurrentCategory(category.Title)" ng-class="{'b-sidebar__item--active': category.Title == currentCategoryTitle}" class="b-sidebar__item">{{category.Title}}</a><div class="b-sidebar__label">Управление</div><a href class="b-sidebar__item">Добавить новость</a><a href class="b-sidebar__item">Manage posts</a><a href class="b-sidebar__item">Manage comments</a><a href class="b-sidebar__item">Manage categories</a></div><div class="b-content"><div ng-repeat="post in news | filter:searchQuery" ng-show="checkPostCategory(post)" class="b-newsline"><div class="b-newsline__image">{{getImageForPost(post)}}</div><div class="b-newsline__title">{{post.Title}}</div><div class="b-newsline__date">{{getDateAndTimeForPost(post)}}</div><div class="b-newsline__description">{{getTextForPost(post)}}</div><a href class="b-newsline__more">Читать далее </a></div></div><div class="b-sidebar b-sidebar--right"><a href class="b-calendar-button">Кадендарь событий</a><div ng-repeat="event in events" class="b-event"><div class="b-event__dates">{{formatDate(event.EventDate)}} - {{formatDate(event.EndDate)}}</div><div class="b-event__title">{{event.Title}}</div><div class="b-event__bottom-row"><div class="b-event__bottom-row__city">{{event['_x0421__x0442__x0440__x0430__x04']}} {{event['_x0413__x043e__x0440__x043e__x04']}}</div><div class="b-event__bottom-row__remaining">{{getEventDateFromNow(event)}}</div></div></div></div></div></body></html>

views/jade/mockup.jade
doctype html
html(lang="ru")
    head
        title Тестовое задание
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="HandheldFriendly" content="true")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="format-detection" content="telephone=no")
        link(href="../../client/css/main.css",  type="text/css", rel="stylesheet")
        script(src="../../client/js/dme-test.js")
    body(ng-app="dmeTest")
        .b-page(ng-controller="dmeNewsController")
            //- HEADER
            .b-header
                .b-header__logo Aura
                .b-header__menu
                    a(href).b-header__menu__item Wiki
                    a(href).b-header__menu__item Ресурсы
                    a(href).b-header__menu__item Сообщества
                    a(href).b-header__menu__item.b-header__menu__item--active Новости
                    a(href).b-header__menu__item 
                        span.fa.fa-user
                    a(href).b-header__menu__item 
                        span.fa.fa-search
            //- SIDEBAR LEFT
            .b-sidebar.b-sidebar--left
                .b-sidebar__subscribe Подписаться
                .b-sidebar__label Поиск
                .b-sidebar__input.b-sidebar__input--search
                    input(type="search" ng-model="searchQuery")
                .b-sidebar__label Архив
                .b-sidebar__input.b-sidebar__input--calendar
                    input(type="text")
                .b-sidebar__label Категории
                a(href ng-repeat="category in categories" ng-click="setCurrentCategory(category.Title)" ng-class="{'b-sidebar__item--active': category.Title == currentCategoryTitle}").b-sidebar__item {{category.Title}}
                .b-sidebar__label Управление
                a(href).b-sidebar__item Добавить новость
                a(href).b-sidebar__item Manage posts
                a(href).b-sidebar__item Manage comments
                a(href).b-sidebar__item Manage categories
            //- CONTENT
            .b-content
                .b-newsline(ng-repeat="post in news | filter:searchQuery" ng-show="checkPostCategory(post)")
                    .b-newsline__image {{getImageForPost(post)}}
                    .b-newsline__title {{post.Title}}
                    .b-newsline__date {{getDateAndTimeForPost(post)}}
                    .b-newsline__description {{getTextForPost(post)}}
                    a(href).b-newsline__more Читать далее 
            //- SIDEBAR RIGHT
            .b-sidebar.b-sidebar--right
                a(href).b-calendar-button Кадендарь событий
                .b-event(ng-repeat="event in events")
                    .b-event__dates {{formatDate(event.EventDate)}} - {{formatDate(event.EndDate)}}
                    .b-event__title {{event.Title}}
                    .b-event__bottom-row
                        .b-event__bottom-row__city {{event['_x0421__x0442__x0440__x0430__x04']}} {{event['_x0413__x043e__x0440__x043e__x04']}}
                        .b-event__bottom-row__remaining {{getEventDateFromNow(event)}}
